http://www.sarahmei.com/blog/2013/11/11/why-you-should-never-use-mongodb/comment-page-1/

https://longtermlaziness.wordpress.com/2012/08/24/a-post-you-wish-to-read-before-considering-using-mongodb-for-your-next-app/

https://www.import.io/post/all-the-best-big-data-tools-and-how-to-use-them/

http://www.paperplanes.de/2010/7/5/relational_data_document_databases_schema_design.html

https://www.quora.com/What-do-big-websites-like-Facebook-Google-Twitter-and-LinkedIn-use-for-their-database

https://en.wikipedia.org/wiki/Cache_invalidation


http://softwareengineering.stackexchange.com/questions/25366/how-do-you-decide-what-kind-of-database-to-use
https://www.sitepoint.com/sql-vs-nosql-choose/
https://reflect.io/blog/analytics-101-choosing-the-right-database/