<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>Pulsión - where the magic begins</title>
		<script type="text/javascript" src="/js/angular.min.js"></script>
		<script src="https://apis.google.com/js/api.js" ></script>
		<script type="text/javascript" src="/js/main.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/general.css">
		<link rel="stylesheet" type="text/css" href="/css/home.css">
		<link rel="stylesheet" type="text/css" href="/css/mobile/home.css">
		<link rel="stylesheet" type="text/css" href="/css/mobile/general.css">
	</head>
	<body ng-controller="mainCtrl">
		<div ng-include="'/templates/nav.html'"></div>
		<div id="cover" carousel>
			<div id="introText">
				<img src="/images/logo.png">
				<h1><a href="/about">Conocé a los que lo hacemos</a></h1>
			</div>
			<carousel-item src="portada1.jpg"></carousel-item>
			<carousel-item src="portada2.jpg"></carousel-item>
			<carousel-item src="portada3.jpg"></carousel-item>
			<carousel-item src="portada4.jpg"></carousel-item>
			<carousel-item src="portada5.jpg"></carousel-item>
			<carousel-item src="portada6.jpg"></carousel-item>
			<carousel-item src="portada7.jpg"></carousel-item>
			<carousel-item src="portada8.jpg"></carousel-item>
			<carousel-item src="portada9.jpg"></carousel-item>
		</div>
		<ul id="videoList">
			{{#each videos}}<a href="/video/{{_id}}"><li class="videoThumb" set-thumb="{{link}}"><div class="videoData"><img src="/images/logoThumb.svg"><div class="text"><h2>{{this.nombre}}</h2><h3>{{nice-date fecha}}</h3></div></div></li></a>{{/each}}
		</ul>
	</body>
</html>