<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>Pulsión - where the magic begins</title>
		<script type="text/javascript" src="/js/angular.min.js"></script>
		<script type="text/javascript" src="/js/main.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/general.css">
		<link rel="stylesheet" type="text/css" href="/css/home.css">
		<link rel="stylesheet" type="text/css" href="/css/mobile/general.css">
	</head>
	<body>
		<div ng-include="'/templates/nav.html'"></div>
		<div id="cover"></div>
		<ul id="videoList">
			{{#each videos}}<li class="videoThumb"><div class="videoData"><img src="/images/logoThumb.svg"><a href="/video/{{_id}}" class="text"><h2>Tal Zapada</h2><h3>Tal Pulsion</h3></a></div></li>{{/each}}
		</ul>
	</body>
</html>