<header>
	<nav>
		<div id="searchBox">
			<a href="" toggler="show" target="#searchFields" ><img src="/images/lupita.svg"></a>
		</div><!--
		--><div id="logo">
			<a href="/"><img src="/images/navLogo.svg"></a>
		</div><!--
		--><div id="optsButton">
			<a href="" toggler="show" target="#opts"><img src="/images/opts.svg"></a>
		</div>
		<hr>
		<div id="opts">
			<a href="">Log In</a> - <a href="">Quienes somos?</a> - <a href="">Querés participar?</a> - <a href="">Querés que grabemos a tu banda o proyecto?</a>
		</div>
		<div id="searchFields">
			<label>Nombre: </label><input type="text" name="nombre">
			<label>Musicos (separados por comas): </label><input type="text" name="nombre">
			<button>Buscar</button>
		</div>
	</nav>
</header>